.appContainer {
  // min-width: 100%;
  // min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "left header right"
    "left main right"
    "left footer right";
}
