@import "theme-colors";

.listItem {
  height: 50px;

  // ----------------------- text and number inputs -----------------------
  td {
    vertical-align: top;
  }

  input[type="text"] {
    width: 90%;
  }

  .title {
    max-width: 100px;
  }

  .comment {
    max-width: 200px;
    font-size: .8em;

    * {
      margin: 0 auto;
      text-align: left;
    }
  }

  // ------------------- increment decrement buttons-------------------
  button {
    font-size: .6em;
    background-color: $white;
    padding: 5px;
    padding-bottom: 3px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    i {
      pointer-events: none;
    }
  }

  button:hover {
    background-color: $dark-gray;
    color: $white;
  }

  button:active {
    font-size: 0;
  }
}

.season:hover button,
.episode:hover button {
  opacity: 1;
  visibility: visible;
}
