$white: #fff;
$dark-gray: #212121;
$medium-gray: #727272;
$light-gray: #b6b6b6;

// $main-theme: #3cc47c;
// $dark-main: #1e392a;
// $accent-1: #828081;
// $accent-2: #e9c893;

$main-theme: #2ce198;
$dark-main: #1e392a;
$accent-1: #828082;
$accent-2: #e9e891;
