@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda');

body {
  font-family: 'Monda', sans-serif;
  font-size: 16px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
}
