@import "theme-colors";
@import "dimensions";
@import "dropdowns";

.autoComplete {
  width: 80px;
  max-height: 26px;
  padding: 0;
  display: inline-block;
  overflow-y: hidden;

  input[type="text"] {
    width: 90%;
    text-align: left;
    box-sizing: border-box;
  }

  input:not([disabled]) {
    background-color: transparent;
    position: relative;
    top: -26px;
    z-index: 1;
  }
}

.autoComplete.focused,
.autoComplete:hover {
  background-color: $white;

  input[disabled] {
    background-color: $dark-gray;
    color: lighten($main-theme, 20%);
  }
}
