@import "theme-colors";
@import "dimensions";
@import "sidebars";

.sidebar {
  grid-area: right;
  display: flex;
}

.hoverArea {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 20px;
  overflow: hidden;

  @include pulloutArea;
}


// ------------------------ Sidebar active state ------------------------------
.active {

  .hoverArea {
    right: $right-sbar-w;
  }

  .pullout i {
    transform: rotate(180deg);
  }

  .pulloutInner {
    width: $right-sbar-w;
  }
}

// ----------- hideable Sidebar content -----------------------------
.pulloutInner {
  // background-color: $dark-gray;
  color: $light-gray;
  // padding-top: $header-height;
  min-height: 100%;
  width: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all .3s;
  z-index: 5;

  button {
    background-color: transparent;
  }
}

// ----------------------- icons -------------------------------------

.icons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  margin-top: 10px;
}

// --------------- pullout tab styles --------------------------------

.pullout {
  color: $white;
  background-color: $dark-gray;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 100px;
  z-index: 2;

  @include pullout;

  i {
    transition: all .3s;
  }
}

.sidebar:hover .pullout {
  margin-left: 5px;

  @include hoverPullout;
}

.pullout:active,
.pullout:hover {
  cursor: pointer;
}

.pullout:active {
  color: $white;
  font-size: 0;
  border: 0;
  padding: 0;
}

// ---- hover area header color div ---------------

.headerColor {
  background-color: $main-theme;
  height: $header-height;
  width: 30px;
  position: absolute;
  top: 0;
  z-index: 0;
}
