@import "theme-colors";
@import "dimensions";
@import "sidebars";

.sidebar {
  grid-area: left;
  display: flex;
  box-sizing: border-box;
}

// -------- show-hide sidebar tab ------------------------------

.pulloutArea {

  @include pulloutArea;
}

.pullout {
  background-color: $white;
  margin-left: -50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  @include pullout;
}

.pulloutArea:hover .pullout {
  margin-left: -6px;
  padding: 10px;
  border: 1px solid $light-gray;
  border-left: 0;

  @include hoverPullout;
}

.pullout:active {
  color: $white;
  font-size: 0;
  padding: 0;
  border: 0;
}

// --------- Sidebar active state ------------------------------
.active {

  .pulloutArea {
    margin-left: -1px;
    left: $left-sbar-w;
    // overflow: hidden;
  }

  .pulloutInner {
    width: $left-sbar-w;
    min-height: 100%;
    overflow: visible;
  }

  .content {
    background-color: $white;
    width: $left-sbar-w;
    opacity: 1;
    visibility: visible;
    position: sticky;
    top: 20px;
    z-index: 3;
  }
}

// -------- hideable Sidebar content -------------------------

.pulloutInner {
  border-right: 1px solid $light-gray;
  width: 0;
  text-align: left;
  overflow-x: hidden;
  transition: all .3s;
}


// ---------- navigational content ------------------

.content {
  margin-top: 10px;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s, opacity .5s ease .2s;

  .list {
    padding: 0 30px 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

// ------- background color for the logo ------------------------------

.brandBackdrop {
  background-color: $accent-2;
  min-height: $header-height;
  max-height: $header-height;
}

.headerColor {
  background-color: $main-theme;
  height: $header-height;
  width: 30px;
  position: absolute;
  top: 0;
  z-index: 0;
}

// Status adjustments to SimpleDropdownComponent -------------------------

.status .list,
.sort .list,
.tags {
  max-width: 200px;

  > div {
    top: 0;
  }

  ul {
    box-shadow: none;
    border-radius: 0;

  }

  li {
    padding: 0;
    background-color: $white;
  }

  button {
    background-color: $white;
    height: auto;
  }

  input:focus,
  input:hover,
  button:hover,
  button:active {
    background-color: $accent-2;
    color: $dark-gray;
  }

  button:active {
    font-size: .9em;
  }

  li button,
  > button,
  input {
    font-size: 1em;
    padding: 10px 5px 0;
    border-bottom: 1px solid $light-gray;
    border-radius: 0;
    width: 100%;
    text-align: left;
    transition: all .3s;
  }

  input {
    box-sizing: border-box;
  }
}

.status .list ul,
.sort .list ul {
  position: static;
  box-shadow: none;
}

.status ul li:first-of-type button,
.sort ul li:first-of-type button {
  background-color: $accent-2;
  color: $dark-gray;
}

.tags .list {
  margin-top: 5px;
}


// ------- label headers -----------------------
.label {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  display: inline-flex;

  h2 {
    font-size: .8em;
    color: $dark-gray;
    background-color: $white;
    margin: 0;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
    transition: all .2s;
  }
}
