@import "theme-colors";
@import "dropdowns";
@import "keyframes";

.tags {

  .iconWrapper {
    font-size: .6em;
    margin-right: 8px;
    padding: 0;
    opacity: 0;
    position: relative;
    float: right;
    top: 2px;

    i {
      color: $white;
      position: absolute;
    }
  }

  button:focus {
    color: $dark-gray;
    background-color: $main-theme;
  }

  button[name="tags"],
  button[name="tags"]:focus {
    background-color: $accent-2;
  }


  button:hover,
  button.focus {
    background-color: $dark-gray;
    color: $white;

    .iconWrapper {
      opacity: 1;
    }
  }
}
