@import "theme-colors";
@import "dropdowns";
@import "keyframes";

.tags {

  .iconWrapper {
    font-size: 0;
    padding: 0;
    position: relative;
    float: right;
    margin-right: 8px;
    top: 2px;

    i {
      color: $white;
      position: absolute;
    }
  }

  button[name="tags"] {
    background-color: $accent-2;
  }

  button:hover,
  button.focus {
    background-color: $dark-gray;
    color: $white;

    .iconWrapper {
      font-size: .6em;
    }
  }
}
